<!DOCTYPE html>
<html ng-app="bankJob">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/build/style.css" media="screen" title="no title" charset="utf-8">

    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,900' rel='stylesheet' type='text/css'>

    <title></title>
  </head>
  <body>
  <header>
    <div class="flex-col header-container drop-shadow">
      <h1>THE BANK JOB</h1>
      <div class="block-container flex-row">

      <div class="block-container flex-col">
          <button type="button" class="go-btn" name="button">START JOB</button>
      </div>
    </div>
  </header>
  <main>
    <div class="stats-container flex-col">
      <div class="stats-box flex-row">
        <div class="success-chance flex-col-center">
          <h1>55%</h1>
          <h3>CHANCE OF SUCCESS</h3>
        </div>
        <div class="reward-estimate flex-col-center">
          <h1>$55,000</h1>
          <h3>Estimated Take Per Thief</h3>

        </div>

      </div>
    </div>
    <div class="dashboard-container flex-row">

      <div class="thief-container flex-col-wrap" ng-controller="ThievesController">

        <div class=""
        ng-repeat="thief in thieves track by $index">
          <!-- Thief Card -->
          <a href="" class="thief-anchor">
            <div class="thief-card drop-shadow-right"  >
              <div class="flex-row" >
                <div class="mugshot-container flex-col">
                  <a href="thief-page"><img class="mugshot-img drop-shadow-right" ng-src="{{thief.image}}" alt="" />
                  </a>
                </div>
                <div class="text-container flex-col">
                  <h2>{{thief.name}}</h2>
                  <p>
                    These are where the theif descriptions will go eventually. I'm going to write a bit more now.
                  </p>
                </div>
              </div>

              <div class="stat-window flex-col">
                <div class="inset-shadow-right stat-bar">
                  <div class="stat-fill inset-shadow-right">

                  </div>
                </div>
                <div class="inset-shadow-right stat-bar">
                  <div class="stat-fill inset-shadow-right">

                  </div>
                </div>
                <div class="inset-shadow-right stat-bar">
                  <div class="stat-fill inset-shadow-right">

                  </div>
                </div>

              </div>
            </div>
          </a>
        <!-- End Thief Card -->

        </div>

    </div>
    <div ng-controller="BanksController" class="target-container flex-col-wrap">
      <div  ng-repeat="bank in banks track by $index">
        <a href="" class="target-anchor">
          <div class="target-card drop-shadow-right">
            <div class="flex-row">
              <div class="target-img-container flex-col">
                <a href="thief-page"><img class="target-img drop-shadow-right" ng-src="{{bank.image}}" alt="" />
                </a>
              </div>
              <div class="text-container flex-col">
                <h2>{{bank.name}}</h2>
                <p>
                  These are where the target descriptions will go eventually. I'm going to write a bit more now.
                </p>
              </div>
            </div>
            <div class="stat-window flex-col">
              <div class="inset-shadow-right stat-bar">
                <div class="stat-fill inset-shadow-right">

                </div>
              </div>
              <div class="inset-shadow-right stat-bar">
                <div class="stat-fill inset-shadow-right">

                </div>
              </div>
              <div class="inset-shadow-right stat-bar">
                  <div class="stat-fill inset-shadow-right">

                  </div>
                </div>

              </div>
            </div>
          </a>

        </div>
      </div>

    </div>


  </main>
  <footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.js"></script>


    <script src="./js/app.js"></script>
    <script src="./js/controllers.js"></script>
  </footer>
  </body>
</html>
